
body:before {
  background:url('blue1.jpg') no-repeat;
  background-size:cover;
  content:""; 
  position: fixed;
  z-index:-1;
  top:0; left: 0; right: 0; height: 100%;
  opacity:0.9;
}
.text {
  font-size: 110%;
  margin-top:1%;
  font-family:"Lucida Console",monospace;
}
.btn-group{
  margin-top:10%;
}
.btn{
  font-size:90%;
  font-weight:bold;
  border-radius:10%;
  padding-top: 5%;
  padding-bottom:5%;
}