body:before {
  background:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm309-aew-013_1_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2724bd9481a065ee24e7e7eaaabf1c55') no-repeat;
  background-size:100% 100%;
  content:""; 
  position: fixed;
  z-index:-1;
  top:0; left: 0; right: 0; height: 100%;
  opacity:0.9;
}
body{
}
#nav{
  z-index:99;
  position:fixed;
  top:0;
  left:0;
  right:0;
}
#outer{
  margin-top:100px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
#myForm {
  margin-top:50px;
  margin-left: 6vh;
  margin-right: 6vh;
  font-size:2,5vw;
}
.float-lab{
  color:white;
}
#email{
}
.in-float-lab{
 font-size:1,5vw;
 color:red;
}
.form-select {
  text-align:center;
}
#btn{
  margin-top:5%;
  margin-bottom:100px;
}
.guide-line,#hotline{
  font-size:2.5vw;
  color:white;
}
.span1{
  color:#DC143C;
}