body:before{
  background-color: #FFFAFA;
  content:""; 
  position: fixed;
  top:0; left: 0; right: 0; height: 100%;
  z-index:-1;
}
#nav{
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  right:0;
}
#outer{
  margin-top:50px;
}
.ex-summary{
  display:flex;
  justify-content: center;
}
.summary{
  background-color:#F5F5F5;
  margin-top:30px;
  margin-bottom:40px;
  display:flex;
  flex-direction:column;
  align-items:center;
  border-style:solid ;
  border-color:lightgray;
  border-width:1px;
  padding:20px 20px 20px 20px;
}
.sum-header{
  text-align:center;
  font-size:140%;
  
}
.sub-summary {
  font-size:120%;
  display:flex;
  flex-direction:column;
  
}
.sum-item{
  text-decoration:none;
}

.container-fluid {
  display:flex;
  flex-direction:column;
}
.color{
  color:#DC143C;
}
.img{
  border-style:solid ;
  border-width:1px;
  padding:5px;
  border-color:lightgray;
  margin-right: 2%;
  float:left;
  height:40%;
  max-height:300px;
  width:35%;
  max-width: 200px;
}
.text{
}
.span1{
  font-weight:bold;
}
.pros-cons{
  margin:3px 0 3px 0;
}

#zalo{
  background-image:url("https://play-lh.googleusercontent.com/rFIOt4fDSCgJh_FkHU2qP8YiZUUhfVoKoNfQFbPEM-Wl8zuyuwn7vzkEx_XMh5B6FfO3");
  background-size:100% 100%;
  padding:20px 20px 20px 20px;
  border-radius:15px;
  border:none;
  position:fixed;
  right:10px;
  top:150px;
}
#facebook{
  background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Facebook_logo_36x36.svg/1024px-Facebook_logo_36x36.svg.png");
  background-size:100% 100%;
  padding:20px 20px 20px 20px;
  border-radius:15px;
  border:none;
  position:fixed;
  right:10px;
  top:195px;
}